.slider {
  overflow: hidden;
  height: 232px;
  width: 800px;
  position: relative;
  margin: 0 auto;
}

.back_button,
.next_button {
  height: 200px;
  width: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: absolute;
  z-index: 2;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.back_button:hover,
.next_button:hover {
  opacity: 1;
}

img.slider__arrow * {
  fill: rgb(255, 255, 255);
}

img.slider__arrow {
  height: 24px;
  width: 24px;
}

.next_button {
  right: 0;
}

.next_button img {
  transform: rotate(0.5turn);
}

.back_button {
  left: 0;
}

.slides__container {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.slide__item_box {
  width: 800px;
  height: 200px;
}

img.slides__image_item {
  height: 200px;
  width: auto;
}

.dots__container {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 12px;
  width: 100%;
  justify-content: center;
  height: 12px;
  column-gap: 4px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(100, 100, 100);
  opacity: 0.7;
}

.dot_active {
  opacity: 1;
}
